<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.roly.GiveMeMyMoney2"
          android:versionCode="18"
          android:versionName="2.0.1" >

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="19" />

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:theme="@style/Theme.Base.AppCompat.Light.DarkActionBar">
        <activity android:name="com.roly.g3m.view.MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
                android:name="com.roly.g3m.data.LoanProvider"
                android:enabled="true"
                android:exported="false"
                android:authorities="com.roly.g3m.provider"/>
    </application>

</manifest>